/*.mainView {
    background-image: url('/Images/heaven.jpg');
    background-repeat: no-repeat;
}*/

.glyphicon:hover {
    background-color: lightslategray;
}

span.glyphicon {
    top: 50%;
    position: fixed;
    /*height: 100%;*/
    font-size: 2.5em;
    z-index: 9;
}